.App{
  justify-content: center;
}
.App-link {
  color: #61dafb;
}

/*shared*/

.textbox{
  padding: 30px;
}

.footer{
  min-height: 160px;
  width: 100%;
  position:absolute;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 80px;
  background-color: rgb(214, 240, 250);
}

/*carousel*/

.carousel-box{
  display: block;
  max-width: 600px;
  height: 500px;
  background-color: black;
  position: relative;
}

.carousel-i{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

/*search*/

.filter{
  margin-left: 30px;
  margin-bottom: 10px;
}

.cardImg{
  max-height: 100px;
  width: auto;
}

/*home*/

.homeImg{
  max-width: 40vw;
  max-height: 700px;

}

.btn{
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.about{
  min-height: 350px;
  background-color: #ffb9b2;
}